<ion-view view-title="MuSA">
    <ion-content>

        <img src="img/placeholder.png" width="50%">
        <ion-list>



            <a class="item item-icon-left item-icon-right ion-accordion" href="#">
                <i class="icon ion-ios-clock"></i>
                {{navigationTitles.general.hoursOfOperation}}
                <i class="icon ion-ios-arrow-down"></i>
            </a>


            <a class="item item-icon-left item-icon-right ion-accordion" href="#">
                <i class="icon ion-ios-location"></i>
                {{navigationTitles.general.directions}}
                <i class="icon ion-ios-arrow-down"></i>
            </a>

            <a class="item item-icon-left item-icon-right ion-accordion" href="#">
                <i class="icon ion-ios-browsers"></i>
                {{navigationTitles.general.links}}
                <i class="icon ion-ios-arrow-down"></i>
            </a>



        </ion-list>
    </ion-content>
</ion-view>
