<ion-view view-title="MuSA">
    <ion-content>
        <div class="button-bar padding">
            <a class="button">General</a>
            <a class="button" href="#/tab/museum-events">Events</a>
            <a class="button">News</a>
        </div>
        <!--<img src="img/placeholder.png" width="50%">-->
        <ion-list>



            <a class="item item-icon-left item-icon-right ion-accordion" href="#">
                <i class="icon ion-ios-clock-outline"></i>
                {{navigationTitles.general.hoursOfOperation}}
                <i class="icon ion-ios-arrow-down"></i>
            </a>


            <a class="item item-icon-left item-icon-right ion-accordion" href="#">
                <i class="icon ion-ios-location-outline"></i>
                {{navigationTitles.general.directions}}
                <i class="icon ion-ios-arrow-down"></i>
            </a>

            <a class="item item-icon-left item-icon-right ion-accordion" href="#">
                <i class="icon ion-ios-browsers-outline"></i>
                {{navigationTitles.general.links}}
                <i class="icon ion-ios-arrow-down"></i>
            </a>



        </ion-list>
    </ion-content>
</ion-view>
