<div id="museumEventsTemplate" ng-controller="MuseumEventsCtrl">
    <div class="item item-divider">
        {{navigationTitles.events.navHappeningToday}}
    </div>

    <div class="list card event-card" ng-repeat="event in eventsToday" type="item-text-wrap" ng-click="openEvent(event.id)">
        <div class="item item-header item-icon-right">
            <h2> {{event.title}}</h2>
            <i class="icon ion-ios-arrow-right"></i>

        </div>


        <div class="item tabs tabs-secondary">
            <a class="tab-item">
                {{event.datetime.format('ll')}}
            </a>
            <a class="tab-item" href="#">
                {{event.datetime.format('h:mm A')}}
            </a>

        </div>

    </div>


    <div class="item item-divider">
        {{ navigationTitles.events.navUpcomingToday}}
    </div>


    <div class="list card"  ng-repeat="event in upcomingEvents" type="item-text-wrap" ng-click="openEvent(event.id)">

        <div class="item item-header item-icon-right">
            <h2> {{event.title}}</h2>
            <i class="icon ion-ios-arrow-right"></i>

        </div>


        <div class="item tabs tabs-secondary">
            <a class="tab-item">
                {{event.datetime.format('ll')}}                 </a>
            <a class="tab-item" href="#">
                {{event.datetime.format('h:mm A')}}
            </a>

        </div>


    </div>



</div>