<ion-view view-title="{{title}}">
<ion-content  >

    <div class="button-bar padding" >

        <a class="button button-small segmented-control" ng-click="changeState('general')" ng-class="{'active' : museumTabState.state == 'general'}">{{navigationTitles.buttonBar.generalButton}}</a>
        <a class="button button-small segmented-control" ng-click="changeState('events')" ng-class="{'active' : museumTabState.state == 'events'}">{{navigationTitles.buttonBar.eventsButton}}</a>
        <a class="button button-small segmented-control" ng-click="changeState('news')" ng-class="{'active' : museumTabState.state == 'news'}">{{navigationTitles.buttonBar.newsButton}}</a>

    </div>

    <!--  Museum General Template -->

    <div ng-switch="museumTabState.state">

    <!-- Museum Events Template -->
    <div ng-switch-when="events" id="museumEventsTemplate" museum-events-dir>

    </div>

    <!--  Museum News Template -->
    <div ng-switch-when="news"  id="museumNewsTemplate" museum-news-dir>

    </div>
        <div ng-switch-default  id="museumGeneralTemplate" museum-general-dir >

        </div>

    </div>

</ion-content>

</ion-view>