<ion-view view-title="General">
<ion-content  ng-cloak >

    <div class="button-bar padding" >

        <a class="button segmented-control" ng-click="museumGeneralView()" ng-class="{'active' : museumTabState.generalState}">{{navigationTitles.buttonBar.generalButton}}</a>
        <a class="button segmented-control" ng-click="museumEventsView()" ng-class="{'active' : museumTabState.eventsState}">{{navigationTitles.buttonBar.eventsButton}}</a>
        <a class="button segmented-control" ng-click="museumNewsView()" ng-class="{'active' : museumTabState.newsState}">{{navigationTitles.buttonBar.newsButton}}</a>

    </div>

    <!--  Museum General Template -->
    <div ng-show="museumTabState.generalState"  id="museumGeneralTemplate" museum-general-dir >

    </div>

    <!-- Museum Events Template -->
    <div ng-show="museumTabState.eventsState" id="museumEventsTemplate" museum-events-dir>

    </div>

    <!--  Museum News Template -->
    <div ng-show="museumTabState.newsState"  id="museumNewsTemplate" museum-news-dir>

    </div>

</ion-content>

</ion-view>