<ion-view>


    <ion-header-bar class="bar-subheader"  ng-class="platform.isAndroid == true ? 'android' : ''">


        <div class="button-bar">

            <a class="button button-small segmented-control user-font-pref" ng-click="changeState('entry')" ng-class="{'active' : segcontrol.state == 'entry'}">{{navigationTitles.map.entryLevelButtonLabel}}</a>
            <a class="button button-small segmented-control user-font-pref" ng-click="changeState('basement')" ng-class="{'active' : segcontrol.state == 'basement'}">{{navigationTitles.map.basementLevelButtonLabel}}</a>

        </div>

    </ion-header-bar>

    <ion-scroll zooming="true" class="padding" direction="xy" style="width: 100%; height: 100%">
<br>
        <br>
        <br>
        <br>


        <div id="entry-map" style="width: 1200px; height: 580px" class="">
            <!-- Raphaël JS Map Here -->
        </div>

        <!--<h3 id="room-name"></h3>-->

        <!--<ul class="list">-->
            <!--<li class="item" ng-repeat="room in rooms" ng-click="loadRoom(room.id)">-->
                <!--<p>{{room.name}}</p>-->
            <!--</li>-->
        <!--</ul>-->





    </ion-scroll>
    <!--<ion-scroll direction="xy" locking="false"  zooming="true" min-zoom="1"-->
                <!--class="animate modal-content">-->

        <!--<img class="modal-img map" ng-src="img/map/entry_level.png"/>-->

    <!--</ion-scroll>-->
</ion-view>


