<ion-view>

    <ion-content>
<br>
        <ul class="list">
            <li class="item" ng-repeat="room in rooms" ng-click="loadRoom(room.id)">
                <p>{{room.name}}</p>
            </li>
        </ul>


        <script id="room-details.html" type="text/ng-template">
            <ion-modal-view>

                <ion-list >
                    <ion-item  ng-repeat="exhibition in room.exhibitions" ng-click="loadExhibition(exhibition.id)">
                        {{exhibition.title}}

                    </ion-item>

                </ion-list>
            </ion-modal-view>


</script>
    </ion-content>
    <!--<ion-scroll direction="xy" locking="false"  zooming="true" min-zoom="1"-->
                <!--class="animate modal-content">-->

        <!--<img class="modal-img map" ng-src="img/map/entry_level.png"/>-->

    <!--</ion-scroll>-->
</ion-view>