<ion-view title="{{navigationTitles.user.feedbackForm.title}}">

    <ion-nav-buttons side="right">

        <button class="button button-clear" ng-click="sendFeedback()">
        {{navigationTItles.user.feedbackForm.sendButtonLabel}}
    </button>

    </ion-nav-buttons>

    <ion-content>

        <div class="list">

            <div class="item item-divider">
                {{navigationTitles.user.feedbackForm.titleLabel}}
            </div>

            <label class="item item-input">
                <input type="text" ng-model="feedback.title" placeholder="{{navigationTitles.user.feedbackForm.titlePlaceholder}}">
            </label>


<br>
            <div class="item item-divider">
                {{navigationTitles.user.feedbackForm.categoryLabel}}
            </div>



            <ion-radio ng-model="feedback.type" ng-value="'general'">{{navigationTitles.user.feedbackForm.generalFeedbackLabel}}</ion-radio>
            <ion-radio ng-model="feedback.type" ng-value="'bug'">{{navigationTitles.user.feedbackForm.applicationBugLabel}}</ion-radio>
            <ion-radio ng-model="feedback.type" ng-value="'content_problem'">{{navigationTitles.user.feedbackForm.exhibitionContentLabel}}</ion-radio>

            <br>

            <div class="item item-divider">
                {{navigationTitles.user.feedbackForm.messageLabel}}
            </div>


            </div>
        <label class="item item-input">

            <textarea class="msd-elastic: \n;" ng-model="feedback.message" ></textarea>
        </label>


    </ion-content>
</ion-view>