
<div ng-controller="ExhibitionsListCtrl">

    <ion-list class="list-inset">
        <label class="item item-input">
            <i ng-style="{'font-size': app.fontSize};" class="icon ion-search placeholder-icon"></i>
            <input ng-model="searchTerm" type="text" ng-style="{'font-size': app.fontSize};" placeholder="{{navigationTitles.collection.exhibitionSearchBar}}">
        </label>



    </ion-list>

    <div ng-switch = "loading">

        <div ng-switch-default="false">
    <ion-list class="list">

        <!--| filter:searchTerm-->
        <ion-item class="item item-thumbnail-left item-icon-right" ng-repeat="exhibition in exhibitions" type="item-text-wrap" ng-click="loadExhibition(exhibition.id)">
            <img ng-src="{{exhibition.img_href}}"/>
            <h2>{{exhibition.title}}</h2>
            <p ng-style="{'font-size': app.fontSize};">{{exhibition.Artifacts.length}}</p>
            <i class="icon ion-ios-arrow-right"></i>

        </ion-item>




    </ion-list>

    <ion-infinite-scroll
            ng-if="morePages"
            on-infinite="getPage()"
            distance="1%">
    </ion-infinite-scroll>

            <div ng-if="exhibitions.length == 0">

                <div class="row">

                    <div class="col-10"></div>

                    <div class="col-80" style="text-align:center">
                        <br><br><br><br>

                        <h2 class="dark">{{navigationTitles.app.noSearchResultsFound}}</h2>

                    </div>
                    <div class="col-10"></div>
                </div>
            </div>

        </div>
        <div ng-switch-when="true">

            <div class="row">

                <div class="col-10"></div>

                <div class="col-80" style="text-align:center">
                    <br><br><br><br>

                    <ion-spinner icon="spiral"></ion-spinner>
                    <h2 class="dark">{{navigationTitles.app.loading}}</h2>



                </div>
                <div class="col-10"></div>
            </div>

        </div>

    </div>
</div>