<ion-view title="{{navigationTitles.collection.exhibitionView.title}}">

    <ion-content>
        <div class="padding">
            <h2>{{exhibition.title}}</h2>

            <!--<div class="row">-->

            <!--<div class="col">        <p>{{museumObject.author}}</p>-->
            <!--</div>-->
            <!--<div class="col"></div>-->
            <!--<div class="col">June 3, 1950</div>-->
            <!--</div>-->

</div>


        <div class="item item-divider">
        {{navigationTitles.collection.exhibitionView.description}}

    </div>
        <div class="text-wrap padding" ng-bind-html="exhibition.description"></div>





        <div class="item item-divider">
        {{navigationTitles.collection.exhibitionView.objectsLabel}}
        </div>
        <ion-list class="list">

            <!--| filter:searchTerm-->
            <ion-item class="item item-thumbnail-left item-icon-right" ng-repeat="object in exhibition.Artifacts " type="item-text-wrap" ng-click="loadObject(object.id)">
                <img src="{{object.image}}"/>
                <h2>{{object.title}}</h2>
                <p>{{object.author}}</p>
                <i class="icon ion-ios-arrow-right"></i>

            </ion-item>


        </ion-list>

    </ion-content>
</ion-view>