
<div ng-controller="ExhibitionsListCtrl">

    <ion-list class="list-inset">
        <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input ng-model="searchTerm" type="text" placeholder="Search by Exhibition Title">
        </label>



    </ion-list>

    <ion-list class="list">

        <!--| filter:searchTerm-->
        <ion-item class="item item-thumbnail-left item-icon-right" ng-repeat="exhibition in exhibitions" type="item-text-wrap" href="#/tab/collection/exhibitions/{{exhibition.id}}">
            <img src="{{exhibition.img_href}}"/>
            <h2>{{exhibition.title}}</h2>
            <p>{{exhibition.museumObjects.length}}</p>
            <i class="icon ion-ios-arrow-right"></i>

        </ion-item>




    </ion-list>

    <ion-infinite-scroll
            ng-if="morePages"
            on-infinite="getPage()"
            distance="1%">
    </ion-infinite-scroll>

</div>