<ion-view view-title="Collection">

    <ion-header-bar class="bar-subheader"  ng-class="platform.isAndroid == true ? 'android' : ''">

        <div class="button-bar" >

            <a class="button button-small segmented-control" ng-style="{'font-size': app.fontSize};" ng-click="changeSegmentedControlState('nearMe')" ng-class="{'active' : segmentedControl.state == 'nearMe'}">{{navigationTitles.collection.buttonBar.nearMeButton}}</a>
            <a class="button button-small segmented-control" ng-style="{'font-size': app.fontSize};" ng-click="changeSegmentedControlState('objects')" ng-class="{'active' : segmentedControl.state == 'objects'}">{{navigationTitles.collection.buttonBar.objectsButton}}</a>
            <a class="button button-small segmented-control" ng-style="{'font-size': app.fontSize};" ng-click="changeSegmentedControlState('exhibitions')" ng-class="{'active' : segmentedControl.state == 'exhibitions'}">{{navigationTitles.collection.buttonBar.exhibitionsButton}}</a>

        </div>
    </ion-header-bar>

    <ion-content class="has-header has-subheader">

        <div ng-switch ="segmentedControl.state">
        <!--  Near Me List Template -->
        <!--<div ng-show="segmentedControl.nearMeState"  id="nearMeTemplate" collection-near-me-dir >-->
        <div ng-switch-when="nearMe"  id="nearMeTemplate" collection-near-me-dir >

        </div>

        <!-- Objects List Template -->

        <!--  Exhibitions List Template -->
        <!--<div ng-show="segmentedControl.exhibitionsState"  id="exhibitionsListTemplate" collection-exhibitions-dir>-->
        <div ng-switch-when="exhibitions"  id="exhibitionsListTemplate" collection-exhibitions-dir>

        </div>

        <!--<div ng-show="segmentedControl.objectsState" id="objectsListTemplate" collection-objects-dir>-->
        <div ng-switch-default="objects" id="objectsListTemplate" collection-objects-dir>

        </div>
            </div>


    </ion-content>

</ion-view>