<!-- This page will represent an object -->
<ion-view view-title="{{navigationTitles.collection.singleObject.title}}">

    <ion-nav-buttons side="right">
        <!--<button class="button button-icon ion-ios-arrow-left" ng-click="$ionicGoBack($event)">Back</button>-->
        <button class="button button-clear icon-right ion-ios-arrow-right header-item" ng-click="showPlaying()" ng-if="isPlaying()" >{{navigationTitles.collection.singleObject.playingLabel}}</button>


    </ion-nav-buttons>

    <ion-content>
        <div class="padding">
            <h2 class="object-title">{{museumObject.title}}</h2>
            <h3>{{museumObject.Artist.name}}</h3>
            <p>{{museumObject.dated}}</p>







        </div>

        <!--<div class="row">-->
            <!--<div class="col"></div>-->
            <!--<div class="col-90 portrait-box">-->
                <!--&lt;!&ndash;<img  ng-click="showImage()" src="{{museumObject.img_href}}">&ndash;&gt;-->

            <!--</div>-->
            <!--<div class="col"></div>-->
        <!--</div>-->

        <!--<div class="thumbnail">-->
            <!--<img src="{{museumObject.img_href}}" alt="Image" />-->
        <!--</div>-->

        <!--<div class="wraptocenter padding" ng-click="showImage()"><span></span>-->
            <!--&lt;!&ndash;<img src="{{museumObject.img_href}}" alt="...">&ndash;&gt;-->
            <!--<div class="thumb1">-->
            <!--</div>-->

        <!--</div>-->
        <div class="center-image padding" ng-click="showImage()">
            <!--<img src="{{museumObject.img_href}}" alt="Google" />-->

                <img ng-src="{{museumObject.image}}"  err-src="img/logo.png"/>
        </div>


        <ion-list>

        <ion-item ng-if="museumObject.medium" ng-style="{'font-size': app.fontSize};">
            {{navigationTitles.collection.singleObject.mediumLabel}}
        <span class="item-note">
               {{museumObject.medium}}    </span>
        </ion-item>

        <ion-item ng-if="museumObject.type" ng-style="{'font-size': app.fontSize};">
            {{navigationTitles.collection.singleObject.typeLabel}}
            <span class="item-note">{{museumObject.type}}    </span>
        </ion-item>

        <ion-item ng-if="museumObject.culture" ng-style="{'font-size': app.fontSize};">
            {{navigationTitles.collection.singleObject.cultureLabel}}
            <span class="item-note">{{museumObject.culture}}  </span>
        </ion-item>
        <ion-item ng-if="museumObject.dimensions" ng-style="{'font-size': app.fontSize};">
            {{navigationTitles.collection.singleObject.dimensionsLabel}}
            <span class="item-note">{{museumObject.dimensions}}  </span>
        </ion-item>
        </ion-list>

        <!--<audio src="http://www.tonycuffe.com/mp3/tailtoddle_lo.mp3" controls="true"></audio>-->


        <!--<div class="landscape-box">-->
        <!--<img  class="padding"  src="https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-xfa1/v/t1.0-9/10155300_385132964962924_6251655960579980408_n.jpg?oh=8d05c0ea341a3930dda08721b6568a6b&oe=557F12D5&__gda__=1434123747_c9bb1dc774ccc4addb5e2d9f05d4e4f6" width="100%" />-->

        <!--</div>-->
        <!-- If audio content available show the option -->
        <div ng-switch="museumObject.mainAudioAvailable">
            <div ng-switch-when="true" class="list padding">
                <a class="item item-icon-left " ng-click="checkIfAudioAvailable(museumObject.mainAudioId)">
                    <i class="icon ion-headphone"></i>
                    {{navigationTitles.collection.singleObject.listenLabel}}
                </a>
            </div>

            <div ng-switch-default></div>

        </div>


        <!-- Description -->
        <div class="padding text-wrapping">
            <h4>{{navigationTitles.collection.singleObject.descriptionLabel}}</h4>

            <p ng-style="{'font-size': app.fontSize};">{{museumObject.description | limitTo:200}} ...</p>


            <div class="row">

                <div class="col"></div>
                <div class="col"></div>
                <div class="col" style="color: blue;" ><button ng-click="loadDescription()" class="button button-clear button-positive">
                    {{navigationTitles.collection.singleObject.readMoreLabel}}
                </button></div>

            </div>
        </div>

        <!-- Choice -->







        <!-- Extra content -->
        <div class="list ">


            <!-- Archives Switch -->
            <div ng-switch="visible(museumObject.Texts.length)">
                <div ng-switch-when="SINGLE"  ng-click="displayArchive(museumObject.Texts[0].id)">
                    <!-- Only 1 text file -->
                    <a class="item item-icon-left item-icon-right" href="#">
                        <i class="icon ion-document-text"></i>
                        {{museumObject.Texts[0].title}}
                        <p ng-if="museumObject.Texts[0].lang == null">({{navigationTitles.user.languageOptions[preferences.language.english.toLowerCase()]['eng']}})</p>
                        <p ng-if="museumObject.Texts[0].lang">({{navigationTitles.user.languageOptions[preferences.language.english.toLowerCase()][museumObject.Texts[0].lang]}})</p>
                        <i class="icon ion-ios-arrow-right"></i>

                    </a>

                </div>

                <div ng-switch-when="MULTIPLE" ng-click="showArchives()">
                    <!-- Multiple archives -->

                    <a class="item item-icon-left item-icon-right" href="#">
                        <i class="icon ion-document-text"></i>

                        {{navigationTitles.collection.singleObject.archivesLabel}}
                        <span class="item-note">
                                {{museumObject.Texts.length}}
                        </span>
                        <i class="icon ion-ios-arrow-right"></i>

                    </a>
                </div>
                <div ng-switch-default>

                </div>

            </div>

            <!-- Audio Switch -->
            <div ng-switch="visible(museumObject.Audibles.length)">
                <div ng-switch-when="SINGLE" >
                    <!-- Only 1 audio file -->

                    <!--<a class="item item-icon-right" ng-click="changeLanguage(language)" ng-repeat="language in navigationTitles.user.languagesAvailable">-->
                        <!--<i ng-if="language.english == preferences.language.english"  ></i>-->
                        <!--{{language.lang}}-->
                        <!--<p>{{language[preferences.language.english.toLowerCase()]}}</p>-->
                    <!--</a>-->
                    <a class="item item-icon-left item-icon-right" ng-style="{'font-size': app.fontSize};" ng-click="playAudio(museumObject.Audibles[0].id)">
                        <i class="icon ion-headphone"></i>
                        {{museumObject.Audibles[0].title}}
                        <!--<div ng-repeat="language in navigationTitles.user.languages">-->
                        <p ng-if="museumObject.Audibles[0].lang == null">({{navigationTitles.user.languageOptions[preferences.language.english.toLowerCase()]['eng']}})</p>
                        <p ng-if="museumObject.Audibles[0].lang">({{navigationTitles.user.languageOptions[preferences.language.english.toLowerCase()][museumObject.Audibles[0].lang]}})</p>
                         <!--</div>-->
                        <!--<p ng-if="museumObject.Audibles[0].lang == 'english'">({{navigationTitles.user.languages[preferences.language.english.toLowerCase()]}})-->
                        <!--</p>-->
                        <i class="icon ion-ios-arrow-right"></i>

                    </a>
                </div>

                <div ng-switch-when="MULTIPLE" ng-click="showAudio()">
                    <!-- Multiple audio files -->

                    <a class="item item-icon-left item-icon-right" ng-style="{'font-size': app.fontSize};" href="#">
                        <i class="icon ion-headphone"></i>

                        {{navigationTitles.collection.singleObject.audioLabel}}
                        <span class="item-note">
                            {{museumObject.Audibles.length}}
                        </span>
                        <i class="icon ion-ios-arrow-right"></i>

                    </a>
                </div>


                <div ng-switch-default>

                </div>

            </div>


            <!-- Videos NG-Switch -->

            <div ng-switch="visible(museumObject.Videos.length)">
                <div ng-switch-when="SINGLE" ng-click="playVideo(museumObject.Videos[0].id)" >
                    <!-- Only 1 text file -->
                    <a class="item item-icon-left item-icon-right" ng-style="{'font-size': app.fontSize};">
                        <i class="icon ion-social-youtube"></i>
                       {{museumObject.Videos[0].title}}

                        <p ng-if="museumObject.Videos[0].lang == null">({{navigationTitles.user.languageOptions[preferences.language.english.toLowerCase()]['eng']}})</p>
                        <p ng-if="museumObject.Videos[0].lang">({{navigationTitles.user.languageOptions[preferences.language.english.toLowerCase()][museumObject.Videos[0].lang]}})</p>
                    <i class="icon ion-ios-arrow-right"></i>

                    </a>
                </div>

                <div ng-switch-when="MULTIPLE" ng-click="showVideos()">
                    <!-- Multiple videos -->

                    <a class="item item-icon-left item-icon-right" ng-style="{'font-size': app.fontSize};">
                        <i class="icon ion-social-youtube"></i>

                        {{navigationTitles.collection.singleObject.videosLabel}}
                        <span class="item-note">
                            {{museumObject.Videos.length}}
                        </span>
                        <i class="icon ion-ios-arrow-right"></i>

                    </a>
                </div>

                <div ng-switch-default>

                </div>

            </div>

            <!-- Images switch -->

            <div ng-switch="visible(museumObject.Images.length)">
                <div ng-switch-when="SINGLE" ng-click="displayImage(museumObject.Images[0])">
                    <!-- Only 1 image -->
                    <!-- Only 1 text file -->
                    <a class="item item-icon-left item-icon-right" ng-style="{'font-size': app.fontSize};" href="#">
                        <i class="icon ion-image"></i>
                        {{museumObject.Images[0].title}}


                        <i class="icon ion-ios-arrow-right"></i>

                    </a>

                </div>

                <div ng-switch-when="MULTIPLE" ng-click="imageGrid()">

                    <!-- Multiple images -->
                    <a class="item item-icon-left item-icon-right"  href="#">
                        <i class="icon ion-images"></i>

                        {{navigationTitles.collection.singleObject.imagesLabel}}


                        <span class="item-note">
                            {{museumObject.Images.length}}
                        </span>
                        <i class="icon ion-ios-arrow-right"></i>

                    </a>

                </div>

                <div ng-switch-default>

                </div>


            </div>


            <br>


            <a ng-if="(museumObject.ExhibitionId && tabIndex == 1)" class="item item-icon-left item-icon-right" ng-style="{'font-size': app.fontSize};" ng-click="loadExhibition(museumObject.ExhibitionId)">
                <i class="icon ion-ios-albums-outline" ></i>

                {{navigationTitles.collection.singleObject.viewParentExhibitionLabel}}

                <i class="icon ion-ios-arrow-right"></i>

            </a>


            <div class="row">
                <div class="col col-80 col-offset-10">
                    <button class="button icon-left  icon ion-social-facebook button-royal" ng-style="{'font-size': app.fontSize};"  style="width: 100%;" ng-click="shareOnFacebook()">{{navigationTitles.collection.singleObject.shareOnFacebookLabel}}</button>
                </div>
            </div>



        </div>


        <!-- Object Photo Modal -->

        <script id="image-modal.html" type="text/ng-template">
            <div class="modal image-modal transparent" ng-click="closeModal()">
                <ion-pane class="transparent">
                    <img ng-src="{{museumObject.image}}" class="fullscreen-image"/>
                </ion-pane>
            </div>
        </script>


        <!-- Archives list Modal -->
        <script id="archives-list-modal.html" type="text/ng-template">

            <ion-modal-view>
                <ion-header-bar  class="bar-positive">
                    <button class="button button-icon ion-ios-arrow-left" ng-click="closeModal()">{{navigationTitles.app.backButtonLabel}}</button>
                    <h1 class="title">         {{navigationTitles.collection.singleObject.archivesLabel}}
                    </h1>
                </ion-header-bar>

                <ion-content  has-header="true" has-subheader="false" scroll="true">

                    <!--<div class="item item-divider">-->
                    <!--</div>-->
                    <ion-list class="transparent">
                        <ion-item class="item item-icon-right padding" ng-style="{'font-size': app.fontSize};" ng-click="displayArchive(archive.id)" ng-repeat="archive in museumObject.Texts" type="item-text-wrap">
                            {{archive.title}}
                            <p ng-if="archive.lang == null">({{navigationTitles.user.languageOptions[preferences.language.english.toLowerCase()]['eng']}})</p>
                            <p ng-if="archive.lang != null">({{navigationTitles.user.languageOptions[preferences.language.english.toLowerCase()][archive.lang.toLowerCase()]}})</p>
                            <!--<p ng-if="archive.lang != null">({{navigationTitles.getLanguageSubtitle(preferences.language.lang.toLowerCase(),}})</p>-->


                            <i class="icon ion-ios-arrow-right"></i>
                        </ion-item>

                    </ion-list>
                </ion-content>
            </ion-modal-view>
        </script>



        <!-- Video List Modal -->
        <script id="video-list-modal.html" type="text/ng-template">

            <ion-modal-view>
                <ion-header-bar  class="bar-positive">
                    <button class="button button-clear" ng-style="{'font-size': app.fontSize};" ng-click="closeModal()">{{navigationTitles.app.backButtonLabel}}</button>

                    <h1 class="title">                    {{navigationTitles.collection.singleObject.videosLabel}}
                    </h1>
                </ion-header-bar>


                <ion-content  has-header="true" has-subheader="false" scroll="true">

                <!--<div class="item item-divider">-->
                    <!--{{navigationTitles.collection.singleObject.videosLabel}}-->
                <!--</div>-->
                    <ion-list class="transparent">
                        <ion-item class="item item-icon-right padding" ng-click="playVideo(video.id)" ng-repeat="video in museumObject.Videos" type="item-text-wrap" ng-click="doSomething()">
                            {{video.title}}

                            <p ng-if="video.lang == null">({{navigationTitles.user.languageOptions[preferences.language.english.toLowerCase()]['eng']}})</p>
                            <p ng-if="video.lang != null">({{navigationTitles.user.languageOptions[preferences.language.english.toLowerCase()][video.lang.toLowerCase()]}})</p>

                            <i class="icon ion-ios-arrow-right"></i>
                        </ion-item>

                    </ion-list>
                    </ion-content>
                </ion-modal-view>
    </script>


        <!-- Audio list Modal -->
        <script id="audio-list-modal.html" type="text/ng-template">

            <ion-modal-view>
                <ion-header-bar  class="bar-positive">
                    <button class="button button-clear" ng-click="closeModal()">{{navigationTitles.app.backButtonLabel}}</button>
                    <h1 class="title">                        {{navigationTitles.collection.singleObject.audioLabel}}
                    </h1>
                </ion-header-bar>

                <ion-content  has-header="true" has-subheader="false" scroll="true">

                    <!--<div class="item item-divider">-->
                        <!--{{navigationTitles.collection.singleObject.audioLabel}}-->
                    <!--</div>-->
                    <ion-list class="transparent">
                        <ion-item class="item item-icon-right padding" ng-style="{'font-size': app.fontSize};" ng-repeat="audio in museumObject.Audibles" type="item-text-wrap" ng-click="playAudio(audio.id)">
                            {{audio.title}}

                            <p ng-if="audio.lang == null">({{navigationTitles.user.languageOptions[preferences.language.english.toLowerCase()]['eng']}})</p>
                            <p ng-if="audio.lang != null">({{navigationTitles.user.languageOptions[preferences.language.english.toLowerCase()][audio.lang.toLowerCase()]}})</p>

                            <i class="icon ion-ios-arrow-right"></i>
                        </ion-item>

                    </ion-list>
                </ion-content>
            </ion-modal-view>
        </script>

        <script id="audio-player.html" type="text/ng-template">
                <ion-modal-view>
                    <ion-header-bar class="bar-positive">
                        <button class="button button-clear" ng-click="closeModal()">{{navigationTitles.app.backButtonLabel}}</button>
                        <h1 class="title">{{navigationTitles.collection.singleObject.audibleTitleLabel}}</h1>
                    </ion-header-bar>
                    <ion-content  >

                        <h2 class="padding-horizontal">{{audible.getTitle()}}</h2>



                        <div class="audio-player-box">
                            <div class="item range range-positive">
                                {{audible.currentTimeStr()}}
                                <input type="range" name="time" ng-model="stream.watchPlaybackTime" min="0" ng-click="seekToTime()" max="{{audible.duration()}}" value="stream.watchPlaybackTime">
                                {{audible.durationStr()}}
                            </div>
                            <div class="row">


                                <div class="col-25">
                                    <a class="player-button button button-icon icon ion-skip-backward" ng-click="reverse()"></a>


                                </div>
                                <div class="col-50" ng-if="!audible.isPlaying()">

                                    <a class="player-button button button-icon icon ion-play "  style="width: 100%; text-align: center" ng-click="playStream()"></a>


                                </div>

                                <div class="col-50" ng-if="audible.isPlaying()">
                                    <a class="player-button button button-icon icon ion-pause" style="width: 100%; text-align: center" ng-click="pauseStream()"></a>

                                </div>

                                <div class="col-25 ">

                                    <a class="button button-icon icon ion-skip-forward player-button"   ng-click="forward()"></a>

                                </div>

                            </div>
                        </div>
                        <div id="desc" class="padding">
                        <h3>{{navigationTitles.collection.singleObject.descriptionLabel}}</h3>

                        <p>{{audible.getDescription()}}</p>
                        </div>



                    </ion-content>


                </ion-modal-view>


</script>



        <script id="text-view.html" type="text/ng-template">

            <ion-modal-view>

                <ion-header-bar class="bar-positive">
                    <button class="button button-icon ion-ios-arrow-left" ng-click="closeModal()">{{navigationTitles.app.backButtonLabel}}</button>

                    <h1 class="title">{{text.title}}</h1>
                </ion-header-bar>

                <h2 class="padding">{{text.title}}</h2>

                <br>
                <ion-content>
                    <div class="padding" ng-style="{'font-size': app.fontSize};" ng-bind-html="text.description"></div>

                </ion-content>
            </ion-modal-view>
        </script>


        <script id="video-view.html" type="text/ng-template">
        <ion-modal-view>

            <ion-header-bar class="bar-positive">
                <button class="button button-icon ion-ios-arrow-left" ng-style="{'font-size': app.fontSize};" ng-click="closeModal()">{{navigationTitles.app.backButtonLabel}}</button>

                <h1 class="title">{{navigationTitles.collection.singleObject.videoLabel}}</h1>
            </ion-header-bar>




                <ion-content class="padding">

                    <h1 class=" text-wrap">{{video.title}}</h1>

                    <hr>

                    <!--<iframe width="100%"  src="{{trustSrc(video.link+'?modestbranding=1&showinfo=0')}}" frameborder="0" allowfullscreen ></iframe>-->
                    <br>


                    <h3>Description</h3>
                    <p class=" text-wrap">{{video.description}}</p>




                </ion-content>
        </ion-modal-view>
</script>



        <script id="image-grid.html" type="text/ng-template">


        <ion-modal-view>

            <ion-header-bar class="bar-positive">
                <button class="button button-icon ion-ios-arrow-left" ng-click="closeModal()">{{navigationTitles.app.backButtonLabel}}</button>

                <h1 class="title">{{navigationTitles.collection.singleObject.imagesLabel}}</h1>
            </ion-header-bar>

            <ion-content>
                <br>
                <div class="row" ng-repeat="rows in images">
                <div class="col col-33" ng-repeat="img in rows" ng-click="displayImage(img)">
                    <img width="100px" height="100px" src="{{img.link}}"/>


                </div>

                </div>
            </ion-content>
        </ion-modal-view>
</script>

        <script id="image-preview.html" type="text/ng-template">

            <div class="modal image-modal transparent" >



                <ion-modal-view class="caption" ng-if="imageOverlayActive" ng-click="toggleOverlay()">
                    <ion-header-bar class="bar-positive" ng-if="imageOverlayActive">
                        <button class="button button-icon ion-ios-arrow-left" ng-click="closeModal()">{{navigationTitles.app.backButtonLabel}}</button>

                    </ion-header-bar>
                    <ion-content class="img-caption padding" style="color: white">
                        <h3 style="color: white">{{image.title}}</h3>
                        <strong>{{image.description}} </strong>  </ion-content>
                </ion-modal-view>

                <ion-slide-box ng-click="toggleOverlay()">
                    <ion-slide>
                        <!--<div class="desc padding">{{image.title}}</div>-->
                        <img ng-src="{{image.link}}" class="fullscreen-image"/>
                    </ion-slide>



                </ion-slide-box>

            </div>
        </script>

        <!--<script id="image-overlay-info.html" type="text/ng-template">-->

            <!--<ion-modal-view class="caption" ng-click="closeModal()">-->
                <!--<ion-content class="img-caption padding" style="color: white">-->
                    <!--<h3>{{image.title}}</h3>-->
              <!--<strong>{{image.description}} </strong>  </ion-content>-->
            <!--</ion-modal-view>-->


        <!--</script>-->

    </ion-content>
</ion-view>
