
<ion-content>
<div ng-controller="MuseumNewsCtrl" >

    <div ng-if="news.currentNews.length > 0">
    <div class="item item-divider  " ng-style="{'font-size': app.fontSize};">
        {{navigationTitles.news.recentNewsLabel}}
    </div>

    <div class="list"  >

        <a  class="item item-thumbnail-left  item-icon-right " ng-repeat="_news in news.currentNews" type="item-text-wrap" ng-click="openNewsArticle(_news.id)">
            <img ng-src="{{_news.image}}">
            <h2 ng-style="{'font-size': app.fontSize};" class=" ">{{_news.title}}</h2>
            <p ng-style="{'font-size': app.fontSize};" class=" ">{{_news.author}}</p>
            <p ng-style="{'font-size': app.fontSize};" class=" ">{{_news.datetime.format('lll')}}</p>
            <i class="icon ion-ios-arrow-right"></i>
        </a>
</div>
    </div>


    <div ng-if="news.pastWeekNews.length > 0">
    <div class="item item-divider " ng-style="{'font-size': app.fontSize};">
        {{navigationTitles.news.lastNewsLabel}}
    </div>

    <div class="list">


    <a  class="item item-thumbnail-left  item-icon-right " ng-style="{'font-size': app.fontSize};" ng-repeat="_news in news.pastWeekNews" type="item-text-wrap" ng-click="openNewsArticle(_news.id)">
        <img ng-src="{{_news.image}}">
        <h2 ng-style="{'font-size': app.fontSize};" class=" ">{{_news.title}}</h2>
        <p ng-style="{'font-size': app.fontSize};" class=" ">{{_news.author}}</p>
        <p ng-style="{'font-size': app.fontSize};" class=" ">{{_news.datetime.format('lll')}}</p>
        <i ng-style="{'font-size': app.fontSize};" class="icon ion-ios-arrow-right"></i>
    </a>

    </div>


    </div>
</div>
    <div style="height:25vh"></div>

</ion-content>