<div ng-controller="MuseumGeneralCtrl">


    <div class="padding" >
            <h2 class=" header-dark">{{museum.name}}</h2>
            <hr>

        </div>
        <div class="row">

            <div class="col-80 col-offset-10">
                <img src="img/musa_home.png" width="100%"/>

            </div>
            <div class="col"></div>
        </div>


        <ion-list >
            <div class="padding">

                <div class="list card ">

                    <div class="item item-icon-left">
                        <i class="icon ion-ios-clock-outline"></i>
                        <h2 class=""><strong>{{navigationTitles.museum.general.hoursOfOperation}}</strong></h2>
                    </div>

                    <div class="item item-body " ng-style="{'font-size': app.fontSize};">
                        <!--<div class="row">-->

                            <!--<div class="col col-80 col-offset-10">-->

                                <!--<ANY ng-switch="expression">-->
                                    <!--<ANY ng-switch-when="matchValue1">...</ANY>-->
                                    <!--<ANY ng-switch-when="matchValue2">...</ANY>-->
                                    <!--<ANY ng-switch-default>...</ANY>-->
                                <!--</ANY>-->

                                <table cellpadding="1" class="" cellspacing="1" width="100%" ng-if="museum.hoursOfOperation">
                                    <tbody>

                                    <tr ng-switch="{{museum.hoursOfOperation[key].closed}}" ng-repeat="key in museum.days">

                                        <th scope="row"><strong>{{navigationTitles.museum.general.hoursOfOperationTable[key]}}</strong></th>

                                        <!--<td> {{key}} </td> <td> {{ value }} </td>-->

                                        <td ng-switch-when="true">&nbsp;</td>
                                        <td ng-switch-when="true" style="color: red">{{navigationTitles.museum.general.hoursOfOperationTable.closedLabel}}</td>
                                        <td ng-switch-when="true">&nbsp;</td>

                                        <td ng-switch-default>{{museum.hoursOfOperation[key].open}}</td>
                                        <td ng-switch-default>-</td>
                                        <td ng-switch-default>{{museum.hoursOfOperation[key].close}}</td>



                                    </tr>

                                    </tbody>
                                </table>


                                <p>&nbsp;</p>
                                </div>
                        <!--</div>-->



                    <!--</div>-->

                </div>

                <div class="list card ">

                    <div class="item item-icon-left">
                        <i class="icon ion-ios-paper-outline"></i>
                        <h2><strong>{{navigationTitles.museum.general.descriptionLabel}}</strong></h2>
                    </div>

                    <div class="item item-body " ng-style="{'font-size': app.fontSize};"  ng-bind-html ='museum.description'>

                    </div>

                </div>

                <div class="list card ">

                    <div class="item item-icon-left">
                        <i class="icon ion-ios-location-outline"></i>

                        <h2><strong>{{navigationTitles.museum.general.directions}}</strong></h2>
                    </div>

                    <div class="item item-body " style="text-align: center;" ng-style="{'font-size': app.fontSize};" >

                        <p>Museo de Arte (MUSA)</p>
                        <p>Universidad de Puerto Rico</p>
                        <p>Recinto Universitario de Mayaguez</p>
                        <p> Apartado 9000</p>
                        <p>Mayaguez, PR 00681-9000</p>
                        <div class="row">
                            <div class="col col-33 col-offset-33">

                                <button ng-click="openMap()"  data-rel="external" class="button  icon-left musa">{{navigationTitles.museum.general.directionsButtonLabel}}</button>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="list card ">

                    <div class="item item-icon-left">
                        <i class="icon ion-ios-information-outline"></i>
                        <h2><strong>{{navigationTitles.museum.general.contactLabel}}</strong></h2>
                    </div>

                    <div class="item item-body" style="text-align: center;">
                        <p ng-style="{'font-size': app.fontSize};">{{museum.phone}}</p>
                        <p ng-style="{'font-size': app.fontSize};">{{museum.email}}</p>
                    </div>
                </div>


                <div class="list card">

                    <div class="item">
                        <h2><strong>{{navigationTitles.museum.general.links}}</strong></h2>
                    </div>

                    <div class="item tabs tabs-secondary tabs-icon-left">
                        <a class="tab-item" href="#" ng-style="{'font-size': app.fontSize};" ng-click="openWindow('https://www.facebook.com/pages/Museo-de-Arte-RUM-MUSA/385132481629639?sk=timeline')">
                            <i class="icon ion-social-facebook" style="color:#3b5998;"></i>
                            Facebook
                        </a>
                        <!--<a class="tab-item" href="#">-->
                            <!--<i class="icon ion-chatbox"></i>-->
                            <!--Comment-->
                        <!--</a>-->
                        <!--<a class="tab-item" href="#">-->
                            <!--<i class="icon ion-share"></i>-->
                            <!--Share-->
                        <!--</a>-->
                    </div>

                </div>



            </div>



                <!--<ion-item class="item item-icon-left  ion-accordion" ng-click="toggle('links')"  >-->
                <!--<i class="icon ion-ios-browsers-outline"></i>-->
                <!--{{navigationTitles.museum.general.links}}-->
            <!--</ion-item>-->



            </div>
            </div>

        </ion-list>

    </div>
