<div  ng-controller="MuseumEventsCtrl">


    <div ng-if="events.eventsToday.length > 0 || events.upcomingEvents.length > 0">
    <div ng-if="events.eventsToday.length > 0">
    <div class="item item-divider " ng-style="{'font-size': app.fontSize};">
        {{navigationTitles.museum.events.navHappeningToday}}
    </div>

    <div class="list card event-card " ng-repeat="event in events.eventsToday" type="item-text-wrap" ng-click="openEvent(event.id)">
        <div class="item item-header item-icon-right">
            <h2 ng-style="{'font-size': app.fontSize};"> {{event.title}}</h2>
            <i class="icon ion-ios-arrow-right"></i>

        </div>


        <div class="item tabs tabs-secondary ">
            <a class="tab-item" ng-style="{'font-size': app.fontSize};">
                {{event.datetime.format('LL')}}
            </a>
            <a class="tab-item" href="#" ng-style="{'font-size': app.fontSize};">
                {{event.datetime.format('h:mm A')}}
            </a>

        </div>

    </div></div>

<div ng-if="events.upcomingEvents.length > 0">
    <div class="item item-divider " ng-style="{'font-size': app.fontSize};">
        {{ navigationTitles.museum.events.navUpcomingToday}}
    </div>


    <div class="list card "  ng-repeat="event in events.upcomingEvents" type="item-text-wrap" ng-click="openEvent(event.id)">

        <div class="item item-header item-icon-right ">
            <h2 ng-style="{'font-size': app.fontSize};"> {{event.title}}</h2>
            <i class="icon ion-ios-arrow-right"></i>

        </div>


        <div class="item tabs tabs-secondary ">
            <a class="tab-item" ng-style="{'font-size': app.fontSize};">
                {{event.datetime.format('ll')}}                 </a>
            <a class="tab-item" href="#" ng-style="{'font-size': app.fontSize};">
                {{event.datetime.format('h:mm A')}}
            </a>

        </div>


    </div>
</div>


</div>

    <div ng-if="(events.eventsToday.length == 0 && events.upcomingEvents.length == 0)">

        <div class="row">

            <div class="col-10"></div>

            <div class="col-80" style="text-align:center">
                <br><br><br><br>

                <h2 class="dark">{{navigationTitles.museum.events.noEventsLabel}}</h2>

            </div>
            <div class="col-10"></div>
        </div>
    </div>

</div>
