<ion-view view-title="{{navigationTitles.museum.eventsSingle.titleLabel}}">


    <ion-nav-bar class="bar-positive">
        <ion-nav-back-button class="button-clear" ng-click="goBack()">
        </ion-nav-back-button>
    </ion-nav-bar>

    <ion-content class="padding ">



        <h2 class="text-wrap" > {{event.title}} </h2>

        <ion-list class="padding">


            <ion-item class="" ng-style="{'font-size': app.fontSize};">
                {{navigationTitles.museum.eventsSingle.eventDateLabel}}
    <span class="item-note" ng-style="{'font-size': app.fontSize};">
{{event.datetime.format('ll')}}    </span>
            </ion-item>

            <ion-item class="" ng-style="{'font-size': app.fontSize};">
                {{navigationTitles.museum.eventsSingle.eventTimeLabel}}    <span class="item-note" ng-style="{'font-size': app.fontSize};">
{{event.datetime.format('h:mm A')}}    </span>
            </ion-item>

            <ion-item class="" ng-if="event.location" ng-style="{'font-size': app.fontSize};">
                {{navigationTitles.museum.eventsSingle.eventLocationLabel}}
                <span class="item-note" ng-style="{'font-size': app.fontSize};">
{{event.location}}  </span>
            </ion-item>
        </ion-list>

        <div class="list card " type="item-text-wrap" >


            <!--ng-repeat="event in eventsToday" type="item-text-wrap" href="#/tab/chats/{{event.id}}">-->

            <div class="item item-header item-icon-right">
                <h2 ng-style="{'font-size': app.fontSize};"> {{navigationTitles.museum.eventsSingle.descriptionLabel}} </h2>
                <!--<i class="icon ion-ios-arrow-right"></i>-->

            </div>




            <div class="item item-body ">
                <p ng-style="{'font-size': app.fontSize};">
                   {{event.description}}
                </p>
            </div>


        </div>

        <div class="row">
            <div class="col col-80 col-offset-10">
                <button  style="width: 100%;" ng-click="addToCalendar()" ng-style="{'font-size': app.fontSize};" class="button icon-left   icon ion-ios-plus-outline button-positive">
                    {{navigationTitles.museum.eventsSingle.addToCalendarLabel}}</button>
            </div>
        </div>



    </ion-content>


</ion-view>
