<ion-view view-title="{{navigationTitles.museum.title}}">



    <ion-header-bar class="bar bar-subheader"  ng-class="platform.isAndroid == true ? 'android' : ''">


        <div class="button-bar">

            <a class="button button-small segmented-control user-font-pref" ng-click="changeState('general')" ng-class="{'active' : museumTabState.state == 'general'}">{{navigationTitles.museum.buttonBar.generalButton}}</a>
            <a class="button button-small segmented-control user-font-pref" ng-click="changeState('events')" ng-class="{'active' : museumTabState.state == 'events'}">{{navigationTitles.museum.buttonBar.eventsButton}}</a>
            <a class="button button-small segmented-control user-font-pref" ng-click="changeState('news')" ng-class="{'active' : museumTabState.state == 'news'}">{{navigationTitles.museum.buttonBar.newsButton}}</a>

        </div>

    </ion-header-bar>

    <ion-content class="has-header has-subheader">
    <!--  Museum General Template -->
    <div ng-switch="museumTabState.state" >

    <!-- Museum Events Template -->
    <div ng-switch-when="events"  museum-events-dir>

    </div>

    <!--  Museum News Template -->
    <div ng-switch-when="news" museum-news-dir>

    </div>

        <div ng-switch-default  museum-general-dir >

        </div>

    </div>


    </ion-content>
</ion-view>