
<div ng-controller="CollectionObjectListCtrl">

<ion-list class="list-inset">
    <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input ng-model="searchTerm" type="text" placeholder="Search by Author or Object Title">
    </label>



</ion-list>

<ion-list class="list">

    <!--| filter:searchTerm-->
    <ion-item class="item item-thumbnail-left item-icon-right" ng-repeat="object in museumObjects " type="item-text-wrap" href="#/tab/collection/objects/{{object.id}}">
        <img src="{{object.img_href}}"/>
        <h2>{{object.title}}</h2>
        <p>{{object.author}}</p>
        <i class="icon ion-ios-arrow-right"></i>

    </ion-item>




</ion-list>

    <ion-infinite-scroll
            ng-if="morePages"
            on-infinite="getPage()"
            distance="1%">
    </ion-infinite-scroll>

</div>