


        <div ng-controller="NearMeCtrl">




            <div ng-if="loading" class="row">

                <div class="col-10"></div>

                <div class="col-80" style="text-align:center">
                        <br><br><br><br>
                        <i class="icon ion-ios-navigate-outline near-me-button"style="width:100%"></i>
                    <p>{{navigationTitles.collection.nearMeView.searchingForBeaconsLabel}}</p>



                </div>
                <div class="col-10"></div>

                </div>



        </div>


